.gigantic {
	font-size: 116px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge {
	font-size: 72px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large {
	font-size: 44px;
	line-height: 48px;
}

.bigger {
	font-size: 28px;
	line-height: 36px;
}

.big {
	font-size: 24px;
	line-height: 30px;
}

body {
	font: 17px/24px Palatino, Constantia, "Palatino Linotype", serif;
}

.small {
	font-size: 13px;
	line-height: 18px;
}
